In [2]:
import pandas as pd
import duckdb
# Display all columns
pd.set_option('display.max_columns', None)

# Set max column width to a large value
pd.set_option('display.max_colwidth', None)

# Create a new DuckDB database file
con = duckdb.connect('balancer_dynamic_fee.duckdb')

In [12]:
block_timestamp = pd.read_csv('block_timestamp.csv', usecols=['block_number','timestamp'])
block_timestamp.columns = ['block_number', 'timestamp']
con.execute('CREATE TABLE block_timestamp AS SELECT * FROM block_timestamp').fetchdf()

     Count
0  4444558

In [13]:
arbitrum_block_timestamp = pd.read_csv('arbitrum_timestamps.csv')
arbitrum_block_timestamp
con.execute('CREATE TABLE arbitrum_block_timestamp AS SELECT * FROM arbitrum_block_timestamp').fetchdf()

    Count
0  415635

In [4]:
polygon_block_timestamp = pd.read_csv('polygon_timestamp.csv')
polygon_block_timestamp
con.execute('CREATE TABLE polygon_block_timestamp AS SELECT * FROM polygon_block_timestamp').fetchdf()

    Count
0  142178

In [3]:
# Commit the changes
con.commit()

# Close the connection
con.close()